.city-cards{
    border: red 2px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.city-card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%
}
