.header-container{
    height:var(--header-height);
    background-color: var(--light-blue);
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
    display: flex;
    justify-content: flex-start;
}
img{
    padding-right: 10%;
}
.site-name{
    position: absolute;
    display: flex;
    width: 0;
    margin: 15px 0 0 10%;
    color:#fff;
}

.header-list{
    width: 100%;
    display:flex;
    justify-content: flex-end;

    color:#fff;
    margin: 15px 5% 0 0;
   
}

.header-list img{
    padding-right: 0;
    width:15px;
    height:15px;
    margin-top:5px;

}