.header-container{
    height:var(--header-height);
    background-color: var(--light-blue);
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
}
.site-name{
    position: absolute;
width: 0;
height: 21.94px;
left: 132.81px;
top: 20.14px;
color:#fff;
}
