.header-container{
    height:var(--header-height);
    background-color: var(--light-blue);
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
}
.site-name img{
    padding-right: 15px;
    padding-bottom: 10px;
}
.site-name{
    position: absolute;
    display: flex;
    width: 0;
    margin: 15px 0 0 10%;
    color:#fff;
}

.header-list{
    width: 100%;
    display:flex;
    justify-content: flex-end;
    color:#fff;
    margin: 15px 0 0 0;
   }

.header-list img{
    padding-right: 0;
    width:15px;
    height:15px;
    margin-top:5px;
}
.shortlist-option{
    display:flex;
    flex-wrap: wrap;
    padding-right: 10px;
}

.shortlist-option img{
    margin-right: 10px;
}

.contact-option{
    display: flex;
    padding-left: 10px;
    padding-right: 40px;
}

.contact-option img{
    margin-right: 10px;
}