.footer-container{
    max-width: 100%;
}
.blu-footer{
    color:var(--white);
    background-color:var(--light-blue);
    padding: 40px 0 40px 0;
}
.blk-footer{
    color:var(--white);
    background-color:var(--black);
    height:118px;
}
.blu-row{
    border:none;
    
}
.blu-left{
    padding: 0 10% 0 15%;
}
.blu-right{
    padding-left: 10%;
}
.newsletter{
    border-radius: 10px;
    width:90%;
    height:35px;
}
.social{
    display: flex;
}
.social img{
    padding:0;
    width:20px;
    height:20px;
}
.social p{
    padding-left: 8px;
}
    li{
    list-style: none;
}

.footer-links{
    display:flex;
    justify-content: space-around;
}
.footer-info{
    margin-left: 33%;
    width:12%;
    display: flex;
    justify-content: space-evenly;
}
.footer-row{
    padding-top: 50px;
}
