.overlay-container{
    background-image: url("../../assets/cover-img.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 480px;
    left: 0px;
    top: 0px;
    position:relative;
}
.transparent-overlay{
    position:absolute;
    background-color: rgba(0,0,0,0.5);
    /* backdrop-filter: blur(2px); */
    z-index:10;
    height:100%;
    width:100%;
}
.overlay-title{
    position: absolute;
    width: 40%;
    height: 132px;
    left: 30%;
    top: 163px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 66px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFF;
}
.overlay-text{
position: absolute;
width: 50%;
height: 25px;
left: 25%;
top: 319px;
font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 25px;
text-align: center;
color: #FFF;
}