.left-section{
    padding: 30px 95px;
    display: flex;
}
.right-section img{
    padding:0;
    width:80%;
    border-radius: 12%;
}
.student-section-card-title{
    font-weight: bold;
    font-size: 36px;;
}