

.property-card-box{
   height: 100%;
   display:flex;
   flex-direction: column;
   justify-content: flex-end;
}

.blue-banner{
    display:flex;
    justify-content: space-around;
    background-color: #3A5295;
    color:#fff;
}
.info-banner{
    border: solid 1px black;
    background-color: #fff;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color:#000;
}
.view-banner{
    border: solid 1px black;
    background-color: #fff;
    display:flex;
    justify-content: space-around;
    color:#000;
}

.property-card-box img{
    padding-right: 0;
    width:25px;
    height:25px;
    margin-top:5px;
} 