.bottom-container{
    display:flex;
    padding:60px;
}
.bottom-container h3{
    font-size: 40px;
}
.description{
width: 40%;
font-size: 20px;
}

.room-prices{
    margin-left: 130px;
}
.room-prices h3{
    margin-left: 40px;;
}
.room-prices li{
    border: grey solid 1px;
    border-radius: 24px;
    padding: 12px;
   font-size: 20px;

}
.key-features{
    font-size: 20px;
    line-height: 50px;
}